<section class = "social-share-section">
    <!--- Share on Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}"
       class="btn btn-social-icon btn-twitter" title="Share on Twitter"
       data-ga-event=1 data-ga-category="share" data-ga-action="social-twitter" data-ga-label="{{ page.url }}">
        <span class="fa-lg fab fa-fw fa-twitter" aria-hidden="true"></span>
    </a>
    <!--- Share on Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
       class="btn btn-social-icon btn-facebook" title="Share on Facebook"
       data-ga-event=1 data-ga-category="share" data-ga-action="social-facebook" data-ga-label="{{ page.url }}">
        <span class="fa-lg fab fa-fw fa-facebook" aria-hidden="true"></span>
    </a>
    <!--- Share on Google Plus -->
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
       class="btn btn-social-icon btn-google" title="Share on Google+"
       data-ga-event=1 data-ga-category="share" data-ga-action="social-google" data-ga-label="{{ page.url }}">
        <span class="fa-lg fab fa-fw fa-google-plus" aria-hidden="true"></span>
    </a>
    <!--- Share on LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
       class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn"
       data-ga-event=1 data-ga-category="share" data-ga-action="social-linkedin" data-ga-label="{{ page.url }}">
        <span class="fa-lg fab fa-fw fa-linkedin" aria-hidden="true"></span>
    </a>
    <!--- Share on Pinterest -->
    <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}"
       class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn"
       data-ga-event=1 data-ga-category="share" data-ga-action="social-linkedin" data-ga-label="{{ page.url }}">
        <span class="fa-lg fab fa-fw fa-pinterest" aria-hidden="true"></span>
    </a>
</section>