---
common-css:
- "/css/normalize.css"
- "/css/animations.css"
- "/css/bootstrap.css"
- "/css/style.css"
- "/css/magnific-popup.css"
- "/css/highlight/androidstudio.css"
- "/fontawesome-pro/css/all.min.css"
common-js:
- "/js/jquery-2.2.4.min.js"
- "/js/menu-animation.js"
- "/js/easings.js"
- "/js/main.js"
- "/js/particles.js"
- "/js/typed.min.js"
- "/js/isotope.pkgd.min.js"
- "/js/jquery.magnific-popup.js"
- "/js/highlight.pack.js"
---

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
{% include head.html %}
<body class="body-wrapper render">
    {% include loader.html %}
    <div id="main-container">
        {% include menu.html %}
        <div id="content-container" class="content-container height-one">
            <div id="pages-container" class="pages-container pages-perspective">
                <div class="page-container">
                    <div class="container post">
                        <div class="page_title text-center">
                            <h1 class="page-title">{{ page.title }}</h1>
                        </div>
                        {% if page.share-img %}
                        <img class="post-image" src="{{ page.share-img }}">
                        {% endif %}
                        <br>
                        <br>
                        {{ content }}
                        {% include social-share.html %}
                        <p class="post-meta">
                            Posted on {{ page.date | date: "%B %-d, %Y" }}
                        </p>
                        {% if page.comments %}
                        <div class="disqus-comments">
                            {% include disqus.html %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path class="shape-overlays__path" d=""></path>
            <path class="shape-overlays__path" d=""></path>
            <path class="shape-overlays__path" d=""></path>
        </svg>
        {% include footer_scripts.html %}
    </div>
</body>
</html>